*{
  margin: 0;
  padding: 0;
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #8899a7;
  border-radius: 4px;
}

::-moz-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-moz-scrollbar-thumb {
  background-color: #8899a7;
  border-radius: 4px;
}
.tab-view-container::-webkit-scrollbar {display:none}

//$imageRoot : "../../../..";
$imageRoot : "https://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda";
$imageRoot2 : ".."






















