@import "func";

.alert-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 10;
  .tab-inner, .tab-inner2 {
    border-radius: 8px;
    width: 470px;
    height: 640px;
    box-sizing: border-box;
    //padding: 20px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    .tb-header {
      background-color: #eee;
      //border-radius: 8px;

      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      .tb-title {
        width: 100%;
        height: 22px;
        line-height: 22px;
        font-size: 20px;
        padding: 20px 0 34px;
        text-align: center;
        .tb-close {
          position: absolute;
          display: block;
          background: url("#{$imageRoot}/images/icon_delet.png") no-repeat center center;
          width: 26px;
          height: 24px;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }
      }
    }

    .tb-search-layout {
      height: 50px;

      //.cc-search{
      //  .cc-search{
      width: 100%;
      //height: 34px;
      padding: 6px 0;
      box-sizing: border-box;
      border-radius: 17px;
      background: url("#{$imageRoot}/images/icon_search.png") no-repeat 20px center;
      background-color: rgba(255, 255, 255, .2);
      margin: 0 auto;
      @include placeholder {
        color: black;
      }
      //::-webkit-input-placeholder { /* WebKit browsers */
      //  color:    black;
      //
      //}
      .tb-search {
        font-size: 14px;
        display: block;
        margin-left: 44px;
        background-color: rgba(255, 255, 255, 0);
        border: 0 none;
        outline: 0 none;
        height: 20px;
        line-height: 20px;
        //box-sizing: border-box;
        padding: 10px 0;
        color: black;
      }
    }

    .tb-tip-text {
      padding: 45px 42px;
      box-sizing: border-box;
      width: 100%;
      line-height: 20px;
      font-size: 18px;
      text-align: left;
    }

    .tb-avatar {
      width: 190px;
      height: 190px;
      line-height: 190px;
      //padding: 45px 42px;
      //width: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      text-align: center;
      font-size: 80px;
      color: #fff;
      background-color: #92aceb;
      border-radius: 50%;
      font-weight: 100;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
      }
    }

    .tb-name {
      margin: 30px 0 60px 0;

      text-align: center;
      font-size: 24px;
    }

    .tb-list {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      height: 400px;
      overflow-y: scroll;
      border-bottom: 1px solid #eee;
      position: relative;
      .tb-item {
        width: 100%;
        box-sizing: border-box;
        //padding: 15px 10px;
        height: 80px;
        cursor: pointer;
        .tb-item-circle {
          display: block;
          float: left;
          background: url("#{$imageRoot}/images/icon_normal.png") no-repeat center center;
          width: 16px;
          height: 16px;
          margin: 32px 20px 0 10px;
          background-size: cover;
          cursor: pointer;
        }
        .tb-item-circle.selected {
          background-image: url("#{$imageRoot}/images/icon_selected.png");
        }
        .tb-item-avatar {
          float: left;
          width: 50px;
          height: 50px;
          margin: 15px 20px 0 0;
          border-radius: 50%;
        }
        .tb-item-heading {
          float: left;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          margin: 15px 20px 0 0;
          border-radius: 50%;
          background-color: #92aceb;
          color: white;
          font-size: 16px;
        }
        .tb-item-alias {
          height: 80px;
          line-height: 80px;
          text-align: left;
          font-size: 14px;
        }
      }
      .tb-item.selected {
        .tb-item-circle {
          background-image: url("#{$imageRoot}/images/icon_selected.png");
        }

      }
    }

    .dm-list {
      height: 430px;
    }
    .tb-submit {
      display: block;
      margin: 20px auto 0;
      color: #fff;
      //width: 96px;
      //height: 36px;
      //line-height: 36px;
      //border-radius: 18px;
      text-align: center;
      outline: 0 none;
      border: 0 none;
      background-color: #92aceb;
      //margin: 0 20px 20px 10px;
      cursor: pointer;
      width: 124px;
      line-height: 46px;
      height: 46px;
      border-radius: 23px;
      font-size: 18px;
    }
  }

  .tab-inner2 {
    border-radius: 8px;
    width: 470px;
    height: 200px;
    box-sizing: border-box;
    //padding: 20px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 24px 53px;
    .tb-title {
      width: 100%;
      //height: 48px;
      line-height: 24px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 14px;
    }
    .tb-percent {
      margin-bottom: 50px;
    }
    .tb-text {
      color: #b2b2b2;
      font-size: 18px;
      text-align: center;
      height: 18px;
      line-height: 18px;
    }
    .tb-close {
      position: absolute;
      display: block;
      background: url("#{$imageRoot}/images/icon_delet.png") no-repeat center center;
      width: 26px;
      height: 24px;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    .tb-search-layout {
      margin-top: 24px;
      border-radius: 25px;
      background-color: #eee;
      margin-bottom: 28px;
      background-image: url("#{$imageRoot}/images/icon_seek.png");
      height: 46px;
      padding-top: 6px;
      @include placeholder {
        color: #b2b2b2;
      }
      .tb-search {
        font-size: 18px;
        margin-left: 56px;
        padding: 8px 0;
      }
    }

    .tb-submit {
      width: 124px;
      line-height: 46px;
      height: 46px;
      border-radius: 23px;
      font-size: 18px;
      position: absolute;
      left: 50%;
      margin-left: -62px;
    }
    .tb-tbn-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .tb-submit {
        //margin-left: 10px;
        margin: 20px 20px;
      }
    }
  }
  .not-found-tab {
    padding-top: 28px;
    .tb-submit {
      margin-top: 30px;
    }

  }
  .tab-am {

  }

}

.alert-container {
  .tab-v {
    .v-header {
      height: 120px;
      line-height: 120px;
      .v-title {
        font-size: 24px;
        height: 34px;
        line-height: 80px;
      }
    }

  }
}

.tab-layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 10;
  .choose-chatter {
    width: 470px;
    height: 640px;
    box-sizing: border-box;
    //padding: 20px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    .cc-line {
      height: 20px;
      width: 100%;
      line-height: 20px;
      text-indent: 20px;
      font-size: 14px;
      text-align: left;
      color: white;
      background-color: #eee;
    }
    .cc-header {
      background-color: #eee;

      .cc-title {
        width: 100%;
        height: 22px;
        line-height: 22px;
        font-size: 20px;
        padding: 20px 0 34px;
        text-align: center;
        .cc-close {
          position: absolute;
          display: block;
          background: url("#{$imageRoot}/images/icon_delet.png") no-repeat center center;
          width: 26px;
          height: 24px;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }
      }

      .cc-tab-choose {
        width: 100%;
        .cc-tab-item {
          float: left;
          width: 50%;
          height: 40px;
          line-height: 40px;
          text-align: center;

          color: #666;
          cursor: pointer;
        }
        .cc-tab-item.cur {
          color: #00b3ee;

        }
      }
    }

    .cc-search-layout {
      height: 50px;

      //.cc-search{
      //  .cc-search{
      width: 100%;
      //height: 34px;
      padding: 6px 0;
      box-sizing: border-box;
      border-radius: 17px;
      background: url("#{$imageRoot}/images/search_black.png") no-repeat 20px center;
      background-color: rgba(255, 255, 255, .2);
      margin: 0 auto;
      @include placeholder {
        color: #565656;
      }

      //::-webkit-input-placeholder { /* WebKit browsers */
      //  color:    black;
      //
      //}
      input {
        font-size: 14px;
        display: block;
        margin-left: 44px;
        background-color: rgba(255, 255, 255, 0);
        border: 0 none;
        outline: 0 none;
        height: 20px;
        line-height: 20px;
        //box-sizing: border-box;
        padding: 10px 0;
        color: black;
      }
      //}
      //}
    }

    .cc-tab-layout {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      height: 400px;
      overflow-y: scroll;
      border-bottom: 1px solid #eee;
      .cc-tl-list {
        .cc-tl-item {
          width: 100%;
          box-sizing: border-box;
          //padding: 15px 10px;
          height: 80px;
          cursor: pointer;
          .cc-item-circle {
            display: block;
            float: left;
            background: url("#{$imageRoot}/images/icon_normal.png") no-repeat center center;
            width: 16px;
            height: 16px;
            margin: 32px 20px 0 10px;
            background-size: cover;
            cursor: pointer;
          }
          .cc-item-circle.selected {
            background-image: url("#{$imageRoot}/images/icon_selected.png");
          }
          .cc-item-avatar {
            float: left;
            width: 50px;
            height: 50px;
            margin: 15px 20px 0 0;
            border-radius: 50%;
          }
          .cc-item-heading {
            float: left;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin: 15px 20px 0 0;
            border-radius: 50%;
            background-color: #92aceb;
            color: white;
            font-size: 16px;
          }

          .cc-item-alias {
            height: 80px;
            line-height: 80px;
            text-align: left;
            font-size: 14px;
          }

        }
      }

    }

    .cc-submit {
      display: block;
      margin: 20px auto 0;
      color: #fff;
      width: 96px;
      height: 36px;
      line-height: 36px;
      border-radius: 18px;
      text-align: center;
      outline: 0 none;
      border: 0 none;
      background-color: #92aceb;
      //margin: 0 20px 20px 10px;
      cursor: pointer;
    }

  }
}

.am-line {
  height: 20px;
  width: 100%;
  line-height: 20px;
  text-indent: 20px;
  font-size: 14px;
  text-align: left;
  color: white;
  background-color: #eee;
}

.dm-line {
  height: 20px;
  width: 100%;
  line-height: 20px;
  text-indent: 20px;
  font-size: 14px;
  text-align: left;
  color: white;
  background-color: #eee;
}
.dm-friend-item{
  padding: 0!important;
}

//transpond-tab
#transpond-moment-tab{
  #tm-inner{
    width: 520px;
    height: 358px;
    background-color: white;
    .tm-title{
      width: 100%;
      height: 66px;
      line-height: 66px;
      font-size: 18px;
      color: #666;
      text-align: center;
      background-color: #f5f5f5;
      .tm-close{
        position: absolute;
        display: block;
        background: url("#{$imageRoot}/images/icon_delet.png") no-repeat center center;
        width: 26px;
        height: 24px;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }
    .tm-main{
      box-sizing: border-box;
      width: 100%;
      padding: 10px 18px;
      background-color: white;
      .tm-ipt-area{
        height: 124px;
        font-size: 18px;
        width: 100%;
        border: 0 none;
        outline: 0 none;
        @include placeholder{
          color: #b5b5b5;
        }
        color: #565656;
      }

      .tm-btn-area{
        width: 100%;
        margin-top: 10px;
        button{
          width: 96px;
          height: 28px;
          border-radius: 28px;
          text-align: center;
          outline: 0 none;
          border: 0 none;
          background-color: #92aceb;
          //margin: 0 20px 20px 10px;
          cursor: pointer;
          color: white;
          letter-spacing: 4px;
          text-align: center;
        }
        #tm-send-btn{
          float: right;
        }

      }
    }

  }
}

.absolute-center{
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.tab-inner{
  .srl-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    //margin-bottom: 14px;
    background-color: #dddddd;
    color: #353535;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .srl-close {
    position: absolute;
    display: block;
    background: url("#{$imageRoot}/images/icon_delet.png") no-repeat center center;
    width: 26px;
    height: 24px;
    top: 13px;
    right: 13px;
    cursor: pointer;
  }

}
.search-result-container{
  height: 590px;
  box-sizing: border-box;
  padding-top: 10px;
  width: 100%;
  .srl-item{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 40px;
    height: 70px;
    .srl-item-avatar{
      float: left;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      img{
        display: block;
        height: 50px;
      }
    }
    .srl-item-text-container{
      float: left;
      margin-left: 4px;
      .srl-item-nickname{
        font-size: 16px;
        color: #353535;
        margin-top: 6px;
        margin-bottom: 2px;
        //margin: 6px 0 2px 4px;
      }
      .srl-item-mtnum{
        font-size: 12px;
        color: #999;
      }
    }
    .srl-item-add-btn{
      float: right;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: url("#{$imageRoot}/images/add.png") no-repeat center center;
    }
  }
}
#apply-friend-verify-tab{
  z-index: 90;
}

.usual-alert-tab{
  z-index: 999;
}

.transported-moment-layout{
      margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: -20px;
    width: 90%;
}
.transponded-tab-moment-container{
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
        background-color: #F6F6F6;
        .transpond-tab-text-container{
          width: 100%;
          line-height: 22px;
          font-size: 18px;
          color: #565656;
          margin-bottom: 30px;
        }
        .transponded-tab-image-wrapper{
          float: left;
          width: 66px;
          height: 66px;
          margin-right: 6px;
          overflow: hidden;
          .transponded-tab-image{
            width: 62px;
            display: inline-block;
            vertical-align: middle;
          }
          .line-for-vertical{
            display: inline-block;
            height: 100%;
            width: 0px;
            vertical-align: middle;
          }
        }

        .transpond-tab-text-with-image-container{
          width: 370px;
          float: left;
          line-height: 22px;
          font-size: 18px;
          color: #565656;
          max-height: 66px;
          overflow: hidden;
          word-break: keep-all;
          text-overflow: ellipsis;
          white-space: nowrap;
          a{
            color: #565656;
            text-decoration: none;
          }
          a:hover{
            text-decoration: underline;
          }
        }
        .transpond-tab-from-container{
          color: #b5b5b5;
          font-size: 16px;
          height: 16px;
          width: 100%;
          float: left;
        }

      }
.transported-fs-item{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #f5f5f5;

  .fs-item{
    width: 100%!important;

    .fs-item-img-mult-wrapper{
      width: 152px!important;

    }
  }

  .moment-be-deleted-tip{
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #b5b5b5;
  }
}
#delete-space-item-tab{
  .tb-submit{
    position: relative!important;
    left: 0!important;
  }
}

#dc-concel, #dc-submit{
  position: relative;
  left: 0;
}

















