@import "func";
.tab-view {

      .fb-tb-item {
        height: 80px;
        line-height: 80px;
        width: 100%;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        padding-left: 90px;
        background: url("#{$imageRoot}/images/jingbao.png") no-repeat 40px center;
      }
      #fb-refresh-location.cur {
        background-image: url("#{$imageRoot}/images/new.png");
      }
      #fb-refresh-location {
        background-image: url("#{$imageRoot}/images/new.png");
      }
      #fb-fire-alarm.cur {
        background-image: url("#{$imageRoot}/images/jingbao.png");
      }
      #fb-send-message {
        background-image: url("#{$imageRoot}/images/message.png");
      }
      #fb-send-message.cur {
        background-image: url("#{$imageRoot}/images/message.png");
      }


    }
#find-back-wrapper{

  .find-back-title{
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    z-index: 2;
    background-color: white;
    em{

      font-style: normal;
    }
  }
  #test-map{
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: 9;
  }
}
.common-confirm{
  .tb-submit{
    position: static!important;
  }
}