@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #8899a7;
  border-radius: 4px; }

::-moz-scrollbar {
  width: 6px;
  background-color: transparent; }

::-moz-scrollbar-thumb {
  background-color: #8899a7;
  border-radius: 4px; }

.tab-view-container::-webkit-scrollbar {
  display: none; }

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icons.png");
  background-repeat: no-repeat;
  vertical-align: middle; }

.icon-error {
  background-position: -38px -141px;
  margin-right: 5px;
  height: 20px;
  cursor: pointer; }

.error {
  color: #6b8299;
  font-size: 12px;
  padding: 5px 5px;
  text-align: right;
  line-height: 37px;
  float: right; }

.u-msgTime {
  text-align: center;
  font-size: 12px;
  color: #aaaaaa;
  line-height: 30px; }

.u-notice {
  text-align: center;
  margin-bottom: 0 !important; }
  .u-notice span {
    display: inline;
    padding: 3px 15px;
    background-color: #e5f4ff;
    color: #6b8299;
    font-size: 12px;
    line-height: 30px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 8px; }

.chat--layout {
  width: 880px;
  height: 100%;
  float: left;
  background-color: white;
  position: relative; }
  .chat--layout .chatting-history-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background-color: white; }
    .chat--layout .chatting-history-layout .chatting-history-title {
      height: 50px;
      width: 100%;
      line-height: 50px;
      text-align: center;
      color: #000000;
      font-size: 16px;
      box-sizing: border-box;
      border-bottom: 1px solid #DDDDDD;
      position: relative; }
      .chat--layout .chatting-history-layout .chatting-history-title .cht-discribe {
        font-style: normal; }
      .chat--layout .chatting-history-layout .chatting-history-title .cht-back {
        height: 50px;
        line-height: 50px;
        padding-right: 8px;
        font-size: 14px;
        width: 36px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        text-align: right; }
    .chat--layout .chatting-history-layout .chatting-history-container {
      width: 100%;
      height: 550px;
      box-sizing: border-box;
      overflow-y: scroll; }
  .chat--layout .info-box {
    position: absolute;
    width: 210px;
    height: 310px;
    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    z-index: 12; }
    .chat--layout .info-box .info-avatar {
      display: block;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      margin: 0 auto; }
    .chat--layout .info-box .info-alias {
      height: 32px;
      line-height: 32px;
      font-size: 16px;
      text-align: center;
      width: 100%; }
    .chat--layout .info-box .info-gender {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      margin-bottom: 24px; }
    .chat--layout .info-box .info-layout {
      height: 30px;
      line-height: 30px;
      width: 100%;
      box-sizing: border-box;
      padding-left: 48px;
      text-align: left;
      color: #666;
      font-size: 14px; }
      .chat--layout .info-box .info-layout em {
        font-style: normal; }
    .chat--layout .info-box .apply-friend-btn {
      display: none; }
  .chat--layout .isNotFriend {
    height: 350px; }
    .chat--layout .isNotFriend .apply-friend-btn {
      display: block;
      color: #fff;
      width: 96px;
      height: 36px;
      line-height: 36px;
      border-radius: 18px;
      text-align: center;
      outline: 0 none;
      border: 0 none;
      background-color: #92aceb;
      margin: 20px auto 0;
      cursor: pointer; }
  .chat--layout .chat-title {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    cursor: pointer; }
    .chat--layout .chat-title .setting-layout {
      height: 50px;
      line-height: 50px;
      padding-left: 28px;
      font-size: 14px;
      width: 100px;
      box-sizing: border-box;
      float: left;
      text-align: left;
      background: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_Set up.png") no-repeat 66px center;
      position: absolute;
      left: 0;
      top: 0; }
    .chat--layout .chat-title .setting-menu-layout {
      position: absolute;
      top: 42px;
      left: -110px;
      z-index: 10; }
      .chat--layout .chat-title .setting-menu-layout .setting-menu-item {
        width: 194px;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        color: white;
        font-size: 16px;
        padding-left: 60px;
        background: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_chat.png") no-repeat 20px center;
        background-color: #393939;
        cursor: pointer;
        text-align: left; }
      .chat--layout .chat-title .setting-menu-layout .setting-menu-item + .setting-menu-item {
        border-top: 1px solid #414141; }
      .chat--layout .chat-title .setting-menu-layout .setting-menu-item.chatting-history, .chat--layout .chat-title .setting-menu-layout .setting-menu-item.p2p-chatting-history {
        border-top-left-radius: 8px;
        /* 左上角 */
        border-top-right-radius: 8px;
        /* 右上角 */
        margin-bottom: -1px; }
      .chat--layout .chat-title .setting-menu-layout .change-team-name {
        background-image: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_beizhu.png"); }
      .chat--layout .chat-title .setting-menu-layout .change-friend-alias {
        background-image: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_beizhu.png"); }
      .chat--layout .chat-title .setting-menu-layout .quit-team {
        background-image: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_leave.png");
        border-bottom-right-radius: 8px;
        /* 右下角 */
        border-bottom-left-radius: 8px;
        /* 左下角 */ }
      .chat--layout .chat-title .setting-menu-layout .delete-friend {
        background-image: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_delete.png");
        border-bottom-right-radius: 8px;
        /* 右下角 */
        border-bottom-left-radius: 8px;
        /* 左下角 */ }
    .chat--layout .chat-title .leave-team-layout {
      height: 50px;
      line-height: 50px;
      padding-right: 8px;
      font-size: 14px;
      width: 100px;
      float: right;
      text-align: right; }
    .chat--layout .chat-title .hide {
      display: none; }
    .chat--layout .chat-title em {
      font-style: normal;
      padding: 10px 0; }
    .chat--layout .chat-title .edit-team-name-ipt {
      font-size: 14px;
      width: 120px;
      padding: 4px 0;
      box-sizing: border-box;
      height: 24px; }
    .chat--layout .chat-title .arrows-layout {
      display: inline-block;
      padding: 0 20px 0 0; }
      .chat--layout .chat-title .arrows-layout .add-team-member {
        display: inline-block;
        width: 0;
        height: 0;
        border: 4px solid #fff;
        border-top: 4px solid #000;
        cursor: pointer;
        margin-left: 8px; }
      .chat--layout .chat-title .arrows-layout .hide {
        display: none; }
  .chat--layout .team-member-layout {
    position: absolute;
    transition: all 0.5s;
    overflow: hidden;
    height: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    top: 50px;
    left: 0;
    background-color: white;
    z-index: 9; }
    .chat--layout .team-member-layout img {
      margin: 20px 10px;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer; }
    .chat--layout .team-member-layout #add-item {
      cursor: pointer; }
  .chat--layout .team-member-layout.an0 {
    opacity: 0;
    line-height: 0; }
  .chat--layout .team-member-layout.an1 {
    opacity: 1; }
  .chat--layout .text-layout {
    height: 190px;
    box-sizing: border-box;
    border-top: 1px solid #DDDDDD; }
    .chat--layout .text-layout .choose-staff {
      padding: 10px 0 10px 20px;
      position: relative; }
      .chat--layout .text-layout .choose-staff span {
        display: block;
        float: left;
        cursor: pointer; }
      .chat--layout .text-layout .choose-staff #showEmoji {
        width: 23px;
        height: 23px;
        background: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_face.png") no-repeat center center; }
      .chat--layout .text-layout .choose-staff #chooseFileBtn {
        width: 22px;
        height: 20px;
        margin-left: 30px;
        background: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_file.png") no-repeat center center; }
    .chat--layout .text-layout .text-container textarea {
      height: 90px;
      width: 100%;
      border: 0 none;
      outline: 0 none;
      padding: 0 10px;
      box-sizing: border-box; }
    .chat--layout .text-layout .send-container #ctrl {
      float: right;
      color: #666;
      font-size: 14px;
      line-height: 36px; }
    .chat--layout .text-layout .send-container #send {
      float: right;
      color: #fff;
      width: 96px;
      height: 36px;
      line-height: 36px;
      border-radius: 16px;
      text-align: center;
      outline: 0 none;
      border: 0 none;
      background-color: #92aceb;
      margin: 0 20px 20px 10px;
      cursor: pointer; }

.chat-view, .chatting-history-container {
  width: 100%;
  height: 360px;
  box-sizing: border-box;
  overflow-y: scroll; }

.chat-view .img, .chatting-history-container .img, .mm-list .img {
  cursor: pointer;
  border-radius: 50%; }
.chat-view .no-msg span, .chatting-history-container .no-msg span, .mm-list .no-msg span {
  padding: 3px 15px;
  background-color: #e5f4ff;
  color: #6b8299; }
.chat-view .item, .chatting-history-container .item, .mm-list .item {
  margin-bottom: 50px;
  overflow: hidden;
  padding: 4px 0px 10px 0px; }
  .chat-view .item .j-img, .chatting-history-container .item .j-img, .mm-list .item .j-img {
    width: 42px;
    height: 42px;
    border-radius: 50%; }
.chat-view .item-me img, .chatting-history-container .item-me img, .mm-list .item-me img {
  float: right;
  margin-right: 14px; }
.chat-view .item-me .msg-text, .chatting-history-container .item-me .msg-text, .mm-list .item-me .msg-text {
  float: right;
  color: #000;
  background: #fff; }
.chat-view .item-me .download-file, .chatting-history-container .item-me .download-file, .mm-list .item-me .download-file {
  display: block;
  color: #000;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none; }
.chat-view .item-me .msg, .chatting-history-container .item-me .msg, .mm-list .item-me .msg {
  margin-right: 10px;
  max-width: 80%; }
.chat-view .item-you img, .chatting-history-container .item-you img, .mm-list .item-you img {
  float: left;
  margin-left: 14px; }
.chat-view .item-you .nick, .chatting-history-container .item-you .nick, .mm-list .item-you .nick {
  color: #3a4a59;
  font-size: 12px;
  padding-top: 5px; }
.chat-view .item-you .msg-text, .chatting-history-container .item-you .msg-text, .mm-list .item-you .msg-text {
  float: left;
  color: #fff;
  background: #92aceb;
  border-color: #eee; }
.chat-view .item-you .msg, .chatting-history-container .item-you .msg, .mm-list .item-you .msg {
  margin-left: 10px;
  max-width: 80%; }
.chat-view .msg, .chatting-history-container .msg, .mm-list .msg {
  position: relative;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1); }
  .chat-view .msg .cnt .emoji, .chatting-history-container .msg .cnt .emoji, .mm-list .msg .cnt .emoji {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: middle;
    float: none; }
  .chat-view .msg .cnt .cnt2, .chatting-history-container .msg .cnt .cnt2, .mm-list .msg .cnt .cnt2 {
    border-top: 1px solid black; }
.chat-view .item-you .download-file, .chatting-history-container .item-you .download-file, .mm-list .item-you .download-file {
  display: block;
  color: #666; }
.chat-view .msg:before, .chat-view .msg:after, .chatting-history-container .msg:before, .chatting-history-container .msg:after, .mm-list .msg:before, .mm-list .msg:after {
  content: ' ';
  position: absolute;
  top: 11px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  width: 0;
  height: 0; }
.chat-view .item-you .msg:before, .chatting-history-container .item-you .msg:before, .mm-list .item-you .msg:before {
  right: 100%;
  border-right: 5px solid #92aceb; }
.chat-view .item-you .msg:after, .chatting-history-container .item-you .msg:after, .mm-list .item-you .msg:after {
  background: none; }
.chat-view .item-me .msg:before, .chatting-history-container .item-me .msg:before, .mm-list .item-me .msg:before {
  background: none; }
.chat-view .item-me .msg:after, .chatting-history-container .item-me .msg:after, .mm-list .item-me .msg:after {
  left: 100%;
  border-left: 5px solid #fff; }
.chat-view .item-me .msg .box:before, .chatting-history-container .item-me .msg .box:before, .mm-list .item-me .msg .box:before {
  background-position: -25px -40px; }
.chat-view .msg .box, .chatting-history-container .msg .box, .mm-list .msg .box {
  position: relative;
  padding: 7px 7px;
  zoom: 1; }
.chat-view .msg .box:before, .chatting-history-container .msg .box:before, .mm-list .msg .box:before {
  background-position: 0 -40px; }
.chat-view .msg .box:after, .chatting-history-container .msg .box:after, .mm-list .msg .box:after {
  background-position: 0 -60px; }
.chat-view .msg .cnt, .chatting-history-container .msg .cnt, .mm-list .msg .cnt {
  position: relative;
  min-height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 14px; }
  .chat-view .msg .cnt .cnt2, .chatting-history-container .msg .cnt .cnt2, .mm-list .msg .cnt .cnt2 {
    border-top: 1px solid #ddd; }
  .chat-view .msg .cnt .icon, .chatting-history-container .msg .cnt .icon, .mm-list .msg .cnt .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icons.png");
    background-repeat: no-repeat;
    vertical-align: middle; }
  .chat-view .msg .cnt .icon-file2, .chatting-history-container .msg .cnt .icon-file2, .mm-list .msg .cnt .icon-file2 {
    background-position: -108px -118px;
    width: 37px;
    height: 50px;
    margin-right: 5px; }
.chat-view .msg .cnt img, .chatting-history-container .msg .cnt img, .mm-list .msg .cnt img {
  width: 100%;
  max-width: 290px;
  _width: 290px;
  margin-left: 0;
  margin-right: 0; }
.chat-view .msg .cnt audio, .chatting-history-container .msg .cnt audio, .mm-list .msg .cnt audio {
  width: 300px;
  height: 35px; }
.chat-view .msg .cnt video, .chatting-history-container .msg .cnt video, .mm-list .msg .cnt video {
  width: 300px; }
.chat-view .msg .cnt .chartlet, .chatting-history-container .msg .cnt .chartlet, .mm-list .msg .cnt .chartlet {
  width: 120px;
  margin: 0; }

.cnt-merge {
  cursor: pointer; }

.merge-msg-inner {
  width: 470px;
  height: 640px;
  background-color: white;
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .merge-msg-inner .mm-title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
    color: #666;
    font-size: 18px; }
    .merge-msg-inner .mm-title .mm-close {
      position: absolute;
      display: block;
      background: url("http://mituresprd.oss-cn-hangzhou.aliyuncs.com/web/1f6f5924c1f4c65f2663a590cf5cfcda/images/icon_delet.png") no-repeat center center;
      width: 26px;
      height: 24px;
      top: 20px;
      right: 20px;
      cursor: pointer; }
  .merge-msg-inner .mm-for-position {
    width: 470px;
    height: 580px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
    .merge-msg-inner .mm-for-position .mm-list {
      width: 100%; }

.j-resend {
  cursor: pointer; }

/*# sourceMappingURL=message.webroot.css.map */
